Repository ES2-UFPI/LibroRete, pull requests merged in 2024-11, with the labels that each got.

#10 close issue #5
  db/init.sql
  docker-compose.yml
Labels: Database

#12 close issue #6
  db/init.sql
Labels: Database

#19 close issue #8
  db/init.sql
Labels: Database

#22 Laila#14
  backend/app/api/__init__.py
  backend/app/api/admin.py
  backend/app/api/apps.py
  backend/app/api/migrations/__init__.py
  backend/app/api/models.py
  backend/app/api/serializers.py
  backend/app/api/tests.py
  backend/app/api/urls.py
  backend/app/api/views.py
  backend/app/app/settings.py
  backend/app/app/urls.py
Labels: Backend

#23 Laila#4
  backend/app/api/urls.py
  backend/app/api/views.py
Labels: Backend

#25 Corrigido bug de não parecer emojis da descrição
  backend/app/app/settings.py
Labels: bug, Backend

#28 close issue #27
  db/init.sql
Labels: Database

#29 Ygor#9
  backend/app/api/models.py
  backend/app/api/serializers.py
  backend/app/api/urls.py
  backend/app/api/views.py
Labels: enhancement, Backend

#31 Configuração da tela de admin
  backend/app/api/admin.py
  docker-compose.yml
Labels: Backend

#33 close issue#21
  frontend/app/src/components/ListItem/ListItem.css
  frontend/app/src/components/ListItem/ListItem.jsx
  frontend/app/src/components/Lists/Lists.css
  frontend/app/src/components/Lists/Lists.jsx
  frontend/app/src/components/posts/Posts.css
  frontend/app/src/components/posts/Posts.jsx
  frontend/app/src/components/resenhas/Resenhas.css
  frontend/app/src/components/resenhas/Resenhas.jsx
  frontend/app/src/pages/Profile/Profile.css
  frontend/app/src/pages/Profile/Profile.jsx
  frontend/app/src/pages/Profile/profileRoutes.jsx
  frontend/app/src/routes.jsx
Labels: enhancement, Frontend
