Repository ES2-UFPI/LibroRete, pull requests merged in 2024-12, with the labels that each got.

#64 close issue #47
  backend/app/api/migrations/0001_initial.py
  db/init.sql
  db/procedures.sql
  docker-compose.yml
Labels: Database

#66 função get_user_lists refatorada para usar models
  backend/app/api/views.py
Labels: Backend, refactoring

#70 Close issue #69
  db/init.sql
  db/procedures.sql
  docker-compose.yml
Labels: Database, refactoring

#71 Ygor#41
  backend/app/api/admin.py
  backend/app/api/models.py
  backend/app/api/serializers.py
  backend/app/api/urls.py
  backend/app/api/views.py
  backend/app/tests/test_api.py
  backend/app/tests/test_interacao.py
Labels: enhancement, Backend

#68 Ygor#67
  backend/app/api/views.py
Labels: Backend, refactoring

#82 close issue #81
  .gitattributes
Labels: bug, Docker

#88 close issue#80
  db/init.sql
Labels: Database

#86 Ygor#58
  backend/app/api/urls.py
  backend/app/api/views.py
  backend/app/tests/test_busca_users.py
Labels: enhancement, Backend
