Repository ES2-UFPI/LibroRete, pull requests merged in 2025-01, with the labels that each got.

#94 add insertions
  db/init.sql
Labels: Database

#92 Implementada funcao para listar posts de usuario
  backend/app/api/models.py
  backend/app/api/urls.py
  backend/app/api/views.py
  backend/app/tests/test_api.py
  backend/app/tests/test_post.py
Labels: Backend

#89 Ygor#52
  backend/app/api/admin.py
  backend/app/api/serializers.py
  backend/app/api/urls.py
  backend/app/api/views.py
  backend/app/tests/test_criar_post.py
Labels: enhancement, Backend

#102 Criar e implementar algoritmo de recomendação de usuários #99 concluida
  backend/app/api/urls.py
  backend/app/api/utils.py
  backend/app/api/views.py
Labels: enhancement, Backend

#104 Função para listar posts no feed #38
  backend/app/api/urls.py
  backend/app/api/views.py
  backend/app/tests/test_feed.py
  frontend/app/src/pages/Feed/Feed.jsx
Labels: enhancement, Backend

#103 Criar e implementar algoritmo de recomendação de livros #44
  backend/app/api/urls.py
  backend/app/api/views.py
  backend/app/tests/test_feed.py
Labels: enhancement, Backend

#96 Implementar a conversão de interações em preferências personalizadas #43
  backend/app/api/urls.py
  backend/app/api/views.py
  backend/app/tests/test_busca_users.py
  backend/app/tests/test_feed.py
  backend/app/tests/test_post_recom.py
  db/init.sql
Labels: enhancement, Backend

#125 Design Pattern Strategy na função create_interaction #124
  backend/app/api/funcoes_tags.py
  backend/app/api/views.py
Labels: Backend, refactoring

#121 Adicionado as informações extra sobre posts em alguma funções #118
  backend/app/api/serializers.py
  backend/app/api/views.py
  backend/app/tests/test_feed.py
  backend/app/tests/test_post.py
  db/init.sql
Labels: enhancement, Backend, refactoring

#132 close issue#131
  backend/app/api/views.py
Labels: Backend, refactoring

#135 Ygor#134
  backend/app/api/urls.py
  backend/app/api/views.py
  db/init.sql
Labels: Backend, refactoring

#138 #137
  backend/app/api/funcoes_posts.py
  backend/app/api/repositories.py
  backend/app/api/views.py
  backend/app/tests/test_api.py
Labels: Backend
